body {
    background-image: url(https://subtlepatterns.com/patterns/grey.png);
    }



#logo {
    width: 150px;
    margin-left: 30px;
}

#pixels {
    position: fixed;
    margin: 35px 0 0 205px;
    font-family: 'Dawning of a New Day', cursive;
}

.card {
    margin-top: 30px;
}

.nav-link {
    margin-right: 60px;
    font-size: 25px;
    margin-top: 60px;
}

.card-title {
    font-size: 60px;
    margin-left: 10px;
}

.description {
    font-size: 40px;
}

#trivia, #psychic-game, #crystal-game, #giphy {
    color: rgb(36, 36, 36);
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

.card-title {
font-family: 'Raleway', sans-serif;
font-size: 55px;
font-weight: bold;
margin-left: 15px;
color:rgb(20, 20, 20);
}

.description {
    font-family: 'arimo', sans-serif;
     color: rgb(73, 73, 73);
     margin-top:12px;
     margin-right: 10px;

}

#port-title {

    font-family: 'Raleway', sans-serif;
font-size: 55px;
border-bottom: 1px solid rgb(192, 192, 192);
}